div#story {
    background-color:#313131;
    padding: 25px;
}
div#easyMode {
    background-color: #C99B50;
    padding: 25px;
}
div#casino {
    background-color: #313131;
    padding: 25px;
}
div#health {
    background-color: #313131;
    padding: 25px;
}
div#foodOptions {
    background-color: #313131;
    padding: 25px;
}
/*div#main {*/
    /*width: max-content;*/
    /*display: inline-block;*/
/*}*/
div#rules {
    padding: 25px;
}
div#bonus{
    padding: 25px;
}
.footer {
    background-color:black;
    text-align: center;
    padding: 8px;
}
button{
    margin: 2px;
}
.jumbotron{
    padding-bottom: 2rem;
}
.noobGreen{
    color: limegreen;
}

body {
    /* background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%; */
    color: silver;
    background: black;
}
.jumbotron{
    background-color:#313131;
    opacity: .9;
}
.row{
    margin-right: auto;
    margin-left: auto;
}
.rounded {
    border-radius:.25rem
}

.modal {
    color: #313131;
}

.menu-item {
    width: 100px;
    height: auto;
}